{% extends 'index.html' %}
{% block content %}


    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/{{ object.photo.url }}">
  <div class="card-body">
    <h5 class="card-title">{{ object.title }}</h5>
  <p class="card-text">{{ object.content }}</p>
   <div class="card-footer bg-transparent border-dark">
   <p class="card-title">{{object.author}}</p>
         <p class="card-text">{{ object.created_on }}</p>
   <center>
       <a href="/update/{{post.slug}}" class="btn btn-warning" id = '{{object.id}}'>edit</a>
       <a href="/delete/{{post.slug}}" class="btn btn-danger" id = '{{object.id}}'>delete</a>
    </center>
    </div>
  </div>


</div>
{% endblock %}
